RewriteEngine On
RewriteBase /wise-rock/timewatch/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wise-rock/timewatch/index.html [L]